<h1>Stupid Coaching</h1>
<div class="container">
  <form action="/answer">
    <label for="question">Ask your coach anything:</label>
    <input type="text" name="question">
    <input id="but" type="submit" value="Ask">
  </form>
</div>